<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cn.hainanproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.SET_DEBUG_APP"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 外部存储读权限，调试工具加载本地补丁需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用户手机设置中允许未知来源安装包安装状态为关；-->
    <!-- Android8.0 以后，如果要安装 apk 需要额外添加权限：-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="MissingClass"

        tools:replace="android:icon">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.GridActivity" />
        <!--        库存转移列表-->
        <activity android:name=".activity.StockMoveListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
<!--        库存转移详情-->
        <activity android:name=".activity.StockMoveDetailActivity"/>

        <!--        采购合同列表-->
        <activity android:name=".activity.PurchaseContractListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <!--        采购合同详情-->
        <activity android:name=".activity.PurContractDetailActivity"/>

        <!--   采购订单列表     -->
        <activity android:name=".activity.PurchaseOrderListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <!--   采购订单详情    -->
        <activity android:name=".activity.PurchaseOrderDetailActivity" />


        <activity android:name=".view.TestActivity" />
        <!--项目合同列表-->
        <activity android:name=".activity.ProjectContractListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />

        <!--库存盘点列表-->
        <activity android:name=".activity.StockCheckListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
<!--        库存盘点详情-->
        <activity android:name=".activity.StockCheckDetailActivity"/>

        <!--        领料申请单列表-->
        <activity android:name=".activity.MaterialRequestListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <!--        采购月度计划-->
        <activity android:name=".activity.PurchaseMonthPlanListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <!--固定资产验收列表-->
        <activity android:name=".activity.FixedassetYsListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <!--固定资产接收列表-->
        <activity android:name=".activity.FixedassetJsListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <!--        固定资产盘点列表-->
        <activity android:name=".activity.FixedassetPdListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <!--        固定资产台账列表-->
        <activity android:name=".activity.FixedassetTzListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
<!--        固定资产处置列表-->
        <activity android:name=".activity.FixedassetCzListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <!--        固定资产封存列表-->
        <activity android:name=".activity.FixedassetFcListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
<!--        固定资产出租及外借-->
        <activity android:name=".activity.FixedassetWjListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <!--        固定资产调拨列表-->
        <activity android:name=".activity.FixedassetDbListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
<!--        故障工单列表-->
        <activity android:name=".activity.GzWorkOrderListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <activity android:name=".activity.WxServerListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <activity android:name=".activity.WxServerXbjListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
<!--        外协服务年度采购合同-->
        <activity android:name=".activity.WxServerContractListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
<!--        -->
        <activity android:name=".activity.WxServerPurchaseOrderListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cn.hainanproject.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>


</manifest>